@page "/Books/Update"
@inject NavigationManager Navigation
@inject HttpClient Http
@inject LoginService LoginService

<!DOCTYPE html>
<html>
<head>
    <style>
        p {color: red;}
    </style>
</head>
<body>
<div class="container mt-3">

    @if (LoginService.Logado == true)
    {
        @if (msgNotFound == true)
        {
            <p>Livro não encontrado</p>
        }
        <form>
            <label for="Id">ID do livro: </label>
            <input type="number" class="form-control w-25" @bind="id" id="Id" name="Id"> <br>

            <label for="Section">Seção: </label>
            <input type="text" class="form-control w-25" @bind="section" id="Section" name="Section"> <br><br>

            <button type="button" class="btn btn-primary" @onclick="Save">Salvar</button>
            <button type="button" class="btn btn-primary" @onclick="Voltar">Voltar</button>
        </form>
    }
    else{Navigation.NavigateTo("/Login");}

</div>
</body>
</html>

@code
{
    [Parameter]
    public int id { get; set; }

    private string section;
    private bool msgNotFound = false;

    private void Voltar()
    {
        Navigation.NavigateTo("/Books");
    }

    public Book newUpdate = new Book();

    public async void Save()
    {
        foreach (var item in books)
        {
            if (id == item.Id)
            {
                msgNotFound = false;

                newUpdate.ISBN = item.ISBN;
                newUpdate.Title = item.Title;
                newUpdate.Genre = item.Genre;
                newUpdate.Author = item.Author;
                newUpdate.Publisher = item.Publisher;
                newUpdate.Section = section;
                newUpdate.Situation = item.Situation;

                await Http.PutAsJsonAsync<Book>($"book/{id}", newUpdate);
                Navigation.NavigateTo("/Books");
            }
            else
            {
                msgNotFound = true;
            }
        }
    }

    public List<Book>? books { get; set; } = new List<Book>();

    protected override async Task OnInitializedAsync()
    {
        books = await Http.GetFromJsonAsync<List<Book>?>("book");
    }

    public class Book
    {
        public int Id { get; set; }
        public string ISBN { get; set; }
        public string Title { get; set; }
        public string Genre { get; set; }
        public string Author { get; set; }
        public string Publisher { get; set; }
        public string Section { get; set; }
        public string Situation { get; set; }
    }
}