@page "/Loans/Delete"
@inject NavigationManager Navigation
@inject HttpClient Http
@inject LoginService LoginService

<!DOCTYPE html>
<html>
<head>
    <style>
        p {color: red;}
    </style>
</head>
<body>
<div class="container mt-3">

    @if (LoginService.Logado == true)
    {
        <form>
            <label for="Id">ID do emprestimo: </label>
            <input type="number" class="form-control w-25" @bind="id" id="Id" name="Id"> <br>
            
            <button type="button" class="btn btn-primary" @onclick="LoanFind">Checar emprestimo</button>
            <button type="button" class="btn btn-primary" @onclick="Voltar">Voltar</button><br>

            @if (loanFind == false && idInserted == true)
            {
                <p>Emprestimo não encontrado</p>
            }
        </form>
     }
    else{Navigation.NavigateTo("/Login");}

</div>
</body>
</html>

@code
{
    [Parameter]
    public int id { get; set; }

    private bool loanFind = false;
    private bool idInserted = false;

    public List<Loan>? loans { get; set; } = new List<Loan>();

    public void LoanFind()
    {
        foreach (var item in loans)
        {
            if (id == item.Id)
            {
                loanFind = true;
                idInserted = true;
                LoginService.LoanId = id;
                Navigation.NavigateTo("/Loans/Delete/Confirm");
            }
            else
            {
                loanFind = false;
                idInserted = true;
            }
        }
    }

    public void Voltar()
    {
        Navigation.NavigateTo("/Loans");
    }

    protected override async Task OnInitializedAsync()
    {
        loans = await Http.GetFromJsonAsync<List<Loan>?>("loan");
    }

    public class Loan
    {
        public int Id { get; set; }
        public int BookId { get; set; }
        public string Student { get; set; }
        public string LoanDate { get; set; }
        public string ReturnDate { get; set; }
    }
}