@page "/User"
@inject NavigationManager Navigation
@inject HttpClient Http
@inject LoginService LoginService

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    @if (LoginService.Logado == true)
    {
        <button @onclick="UserUpdate">Alterar senha</button> <br> 
    }
    else{Navigation.NavigateTo("/Login");}
</body>
</html>

@code
{
    public void UserUpdate()
    {
        Navigation.NavigateTo("/User/Update");
    }
}