@page "/User"
@inject NavigationManager Navigation
@inject HttpClient Http
@inject LoginService LoginService

<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class="container mt-3">

    @if (LoginService.Logado == true)
    {
        <button class="btn btn-primary" @onclick="UserUpdate">Alterar senha</button> <br> 
    }
    else{Navigation.NavigateTo("/Login");}

</div>
</body>
</html>

@code
{
    public void UserUpdate()
    {
        Navigation.NavigateTo("/User/Update");
    }
}